.column{
    border: 1px solid black;
    margin: unset;
}
.title{
    text-align: left;
    font-family: Roboto;
    font-size: larger;
    color: #212529;
    /*border: 1px solid black;*/
    margin-bottom: 5px;
}